## Data Lake on AWS

The blueprint deploys a data lake architecture to AWS using CloudFormation.
XL Deploy does the provisioning and deployment, while XL Release orchestrates everything.
Refer to https://docs.aws.amazon.com/solutions/latest/data-lake-solution

The application is available in the repo [https://github.com/awslabs/aws-data-lake-solution](https://github.com/awslabs/aws-data-lake-solution).


### Prerequisites

If you do not have XL Release and XL Deploy instances running, you can use this Docker Compose setup to spin them up. The setup also contains a preconfigured Jenkins Instance.
Please note that you need to obtain a trial license or bring your own license for XL Release and XL Deploy. Follow the steps below to use the Docker Compose files.

 1. Download the contents of https://github.com/xebialabs/e-commerce-microservice/tree/master/docker-compose/xebialabs into a folder such as `xl-platform`.
 2. Copy the license for XL Release into `xl-platform/xl-release/default-conf/` and the license for XL Deploy into `xl-platform/xl-deploy/default-conf/`.
 3. Run `docker-compose up --build` on the `xl-platform` folder.

To deploy this blueprint with the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generated YAML configurations using the XL CLI.

    ```
    xl apply -f xebialabs.yaml
    ```

2. Go to XL Release and look for the data-lake-release-pipeline and start a new release from it.

## Minimum Required versions

This blueprint version requires at least the below versions of the specified tools to work properly.

XL Release: Version 8.6
XL Deploy: Version 8.6.1
XL CLI: Version 8.6