apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: DATA-LAKE
  type: core.Directory
  children:
  - name: AWS
    type: aws.Cloud
    accesskey: {{.AWSAccessKey}}
    accessSecret: {{.AWSAccessSecret}}
    children:
    - name: cloudformation
      type: aws.cloudformation.Stack
      region: !value AWSRegion

---

apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: DATA-LAKE
  type: core.Directory
  children:
  - name: AWS Dictionary
    type: udm.Dictionary
    entries:
      region: !value AWSRegion
  - name: AWS-DATA-LAKE
    type: udm.Environment
    members:
    - "~Infrastructure/DATA-LAKE/AWS"
    - "~Infrastructure/DATA-LAKE/AWS/cloudformation"
    dictionaries:
    - "~Environments/DATA-LAKE/AWS Dictionary"