{{$app := .AppName | kebabcase}}

apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: "{{$app}}-lambda"
  type: core.Directory
  children:
  - name: "lambda-application"
    type: udm.Application
    children:
    - name: '1.0.0'
      type: udm.DeploymentPackage
      deployables:
      - name: "{{$app}}-lambda-function"
        type: aws.cloudformation.Template
        file: !file ../cloudformation/lambda-function.yaml
        capabilities:
        - CAPABILITY_NAMED_IAM

---

apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: "{{$app}}-lambda"
  type: core.Directory
  children:
  - name: aws-cloud
    type: aws.Cloud
    accesskey: !value AWSAccessKey
    accessSecret: !value AWSAccessSecret
    children:
    - name: cloudformation-stack
      type: aws.cloudformation.Stack
      region: {{.AWSRegion}}

---

apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: "{{$app}}-lambda"
  type: core.Directory
  children:
  - name: aws-cloudformation-lambda
    type: udm.Environment
    members:
    - "Infrastructure/{{$app}}-lambda/aws-cloud/cloudformation-stack"
