{{$app := .AppName | kebabcase}}

# AWS Lambda Function

## Deploy the blueprint to XL Deploy

To deploy this blueprint to the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generate YAML configuration using the XL CLI.

    ```plain
    xl apply -f xebialabs.yaml
    ```

2. Go to XL Deploy

> **Note:** the default url is http://localhost:4516

## Deploy to AWS

To deploy the Lamba Function to AWS, do the following:

1. Go to XL Deploy and look for `Applications/{{$app}}/{{$app}}-basic-lambda/1.0.0`
2. Click the ellipsis
3. Choose 'Deploy' from the menu
3. Choose `Environments/{{$app}}/{{$app}}-basic-lambda`
4. Click the 'Continue' button
5. Check for errors
6. Click the 'Deploy' button

Wait for the deployment to finish

## Run the Lambda Function

### Navigate to the Lambda Function

1. Log in to the AWS management console and navigate to the CloudFormation service ((e.g. https://{{.AWSRegion}}.console.aws.amazon.com/cloudformation)
2. Click on the Stack that was just created: {{$app}}-basic-lambda
3. Click on the 'Resources' tab and the the 'Physical ID' link of the `LambdaFunction`

### Create a test

1. Click on the 'Select a test event' dropdown
2. Click on 'Configure test events'
3. Leave the 'Hello World' Event Template
4. Use `Test01` for the Event name
5. In the body, paste the following:

  ```json
  {
    "timeOfDay": "morning",
    "name": "Fred"
  }
  ```

6. Click 'Create'

### Run the test

1. Make sure `Test01` now appears in the dropdown
2. Click the 'Test' button
3. Expand the green 'Execution result'. You should see:

  ```json
  [
    "Good morning, Fred!"
  ]
  ```

## Undeploy from AWS

To undeploy the Lamba Function to AWS, do the following:

1. Go to XL Deploy and look for `Environments/{{$app}}/{{$app}}-basic-lambda/{{$app}}-basic-lambda (1.0.0)`
2. Click the ellipsis
3. Choose 'Undeploy' from the menu
4. Check for errors
5. Click the 'Undeploy' button
