{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: aws-{{$app}}
    type: aws.Cloud
    accesskey: {{.AWSAccessKey}}
    accessSecret: {{.AWSAccessSecret}}
    children:
    - name: eks-cloudformation
      type: aws.cloudformation.Stack
      region: {{.AWSRegion}}
