# This file includes all secret values, and will be excluded from GIT. You can add new values and/or edit them and then refer to them using '!value' YAML tag
XL_DEPLOY_PASSWORD=admin
SNOW_PASSWORD={{.SNOW_PASSWORD}}
JIRA_PASSWORD={{.JIRA_PASSWORD}}
