---
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/{{.AwsAppName}}
  type: udm.Application
  lastVersion: "1.0"
  children:
  - name: "1.0"
    type: udm.DeploymentPackage
    deployables:
    - name: XldAwsLambdaFunction
      type: aws.lambda.FunctionZip
      preScannedPlaceholders: true
      functionName: XldAwsLambdaFunctionName
      region: {{.AwsRegion}}
      runtime: python2.7
      role: {{.AwsRoleArn}}
      handler: lambda_handler.lambda_handler
      file: !file "artifacts/Applications/{{.AwsAppName}}/1.0/XldAwsLambdaFunction/lambda_handler.zip"
    - name: XldAwsApiGateway
      type: aws.api.RestApiSpec
      apiName: XldAwsApiGateway
      region: {{.AwsRegion}}
      version: "1"
      stage: default
      resources:
      - name: LambdaResource
        type: aws.api.ResourceSpec
        path: XldAwsLambdaFunctionPath
        methods:
        - name: get_method
          type: aws.api.MethodSpec
          httpMethod: GET
          authorizationType: NONE
          integrationHttpMethod: POST
          integrationType: AWS
          uri: Name:XldAwsLambdaFunctionName
          credentials: {{.AwsRoleArn}}
          responseMappings:
          - Applications/{{.AwsAppName}}/1.0/XldAwsApiGateway/200-mapping
      responseMappings:
      - name: 200-mapping
        type: aws.api.ResponseMappingSpec
        statusCode: "200"
