# Note: Configure the Azure Cloud tfstate file location
terraform {
  backend "azurerm" {
    storage_account_name = "{{.StorageAccountName}}"
    container_name       = "{{.StorageContainerName}}"
    key                  = "terraform.tfstate"
    access_key           = "{{.StorageAccessKey}}"
  }
}
