blueprint:
  current-repository: XL Blueprints
  repositories:
  - name: XL Blueprints
    type: http
    url: https://dist.xebialabs.com/public/blueprints/${CLIVersion}/
blueprint-repository:
  branch: master
  name: blueprints
  owner: xebialabs
  provider: github
  token: ""
{{- if .UseXLDeploy}}
xl-deploy:
  authmethod: http
  password: admin
  url: http://localhost:{{.XLDeployPort}}/
  username: admin
{{- end}}
{{- if .UseXLRelease}}
xl-release:
  authmethod: http
  password: admin
  url: http://localhost:{{.XLReleasePort}}/
  username: admin
{{- end}}
