# XL DevOps Platform

This blueprint allows you to run test instances in Docker of:

{{if .UseXLDeploy -}}
* XL Deploy
{{- end}}
{{if .UseXLRelease -}}
* XL Release
{{- end}}
{{if .UseJenkins -}}
* Jenkins
{{- end}}

## Configuration

Copy `xebialabs/config.yaml` to `$HOME/.xebialabs` or make sure your `$HOME/.xebialabs/config.yaml` contains:

```plain
{{if .UseXLDeploy -}}
xl-deploy:
  authmethod: http
  password: admin
  url: http://localhost:{{.XLDeployPort}}/
  username: admin
{{- end}}
{{if .UseXLRelease -}}
xl-release:
  authmethod: http
  password: admin
  url: http://localhost:{{.XLReleasePort}}/
  username: admin
{{- end}}
```

## Start the containers

Run the following:

```plain
cd docker
docker-compose up --detach
```

## Find the apps here:

{{if .UseXLDeploy -}}
* XL Deploy: http://localhost:{{.XLDeployPort}}
  * username: admin
  * password: admin
{{- end}}

{{if .UseXLRelease -}}
* XL Release: http://localhost:{{.XLReleasePort}}
  * username: admin
  * password: admin
{{- end}}

{{if .UseJenkins -}}
* Jenkins: http://localhost:{{.JenkinsPort}}
  * username: admin
  * password: admin
{{- end}}
