{{$app := .AppName | kebabcase}}
## Monolith application on AWS ECS with Fargate

The blueprint deploys a monolithic application, generated with JHipster, to AWS ECS with the Fargate launch type.
XL Deploy does the provisioning and deployment, while XL Release orchestrates everything.

The application is available in the repo [https://github.com/xebialabs/e-commerce-monolith](https://github.com/xebialabs/e-commerce-monolith).

### Prerequisites

If you do not have XL Release and XL Deploy instances running, you can use this Docker Compose setup to spin them up. The setup also contains a preconfigured Jenkins instance.
Please note that you need to obtain a trial license or bring your own license for XL Release and XL Deploy. Follow the steps below to use the Docker Compose files.

1. Git clone [https://github.com/xebialabs/e-commerce-microservice/tree/gke-blueprint](https://github.com/xebialabs/e-commerce-microservice/tree/gke-blueprint).
2. CD into the "e-commerce-microservice/xebialabs-docker-setup" folder that you cloned and ensure that you are on the "gke-blueprint" branch.
3. Copy the license for XL Release into `xebialabs-docker-setup/xl-release/default-conf/` and the license for XL Deploy into `xebialabs-docker-setup/xl-deploy/default-conf/`.
4. Run `docker-compose up --build` on the `xebialabs-docker-setup` folder.

> NOTE: If license files are not present at the time of the docker-compose run command, then xl-cli container will fail to create shared configurations in XLR which is needed for this blueprint.


To deploy this blueprint with the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generated YAML configurations using the XL CLI.

    ```
    xl apply -f xebialabs.yaml
    ```

2. Go to XL Release, look for the "{{$app}}-release-pipeline" template, and start a new release from it.

## Minimum Required versions

This blueprint version requires at least the below versions of the specified tools to work properly.

XL Release: Version 8.6
XL Deploy: Version 8.6.1
XL CLI: Version 8.6