{{$app := .AppName | kebabcase}}
{{$region := "{{AWSRegion}}"}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$app}}
  type: core.Directory
  children:
    - name: {{$app}}-ecs-fargate-cluster
      type: udm.Application
      lastVersion: '1.0'
      children:
      - name: '1.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-terraform-ecs-cluster
          type: terraform.Module
          file: !file ../terraform/infrastructure
          inputVariables:
            app_name: '{{$app}}'
            aws_access_key: {{.AWSAccessKey}}
            aws_secret_key: {{.AWSAccessSecret}}
            region: '{{$region}}'
            mysql_master_password: {{.MySQLMasterPassword}}
            public_port: '{{.PublicPort}}'
          boundTemplates:
          - "../{{$app}}-AWS"
        templates:
        - name: {{$app}}-AWS
          instanceName: {{$app}}/{{$app}}-AWS
          type: template.aws.Cloud
          accesskey: {{.AWSAccessKey}}
          accessSecret: {{.AWSAccessSecret}}
          children:
          - name: {{$app}}-ecs-cluster
            type: template.aws.ecs.Cluster
            clusterName: '{{$app}}-ecs-cluster'
            clusterArn: '{{"{{%outputVariables.cluster_arn%}}"}}'
            region: '{{$region}}'

