{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
    - name: localhost
      type: overthere.LocalHost
      os: UNIX
      children:
        - name: terraform-client
          type: terraform.TerraformClient
          workingDirectory: '/tmp/{{$app}}' # for local installation
          path: '/usr/local/bin' # for local installation
    - name: AWS
      type: aws.Cloud
      accesskey: {{.AWSAccessKey}}
      accessSecret: {{.AWSAccessSecret}}

---
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
    - name: aws-dictionary
      type: udm.Dictionary
      entries:
        AWSRegion: {{.AWSRegion}}
        AWSAccessKey: {{.AWSAccessKey}}
        AWSSecretKey: {{.AWSAccessSecret}}
    - name: AWS
      type: udm.Environment
      members:
      - "~Infrastructure/{{$app}}/localhost/terraform-client"
      - "~Infrastructure/{{$app}}/AWS"
      dictionaries:
      - "~Environments/{{$app}}/aws-dictionary"
