{{$app := .AppName | kebabcase}}
{{$clusterName := .ClusterName | kebabcase}}
{{$nameSpace := .Namespace | kebabcase}}
{{if .ProvisionCluster }}
# Provision AWS EKS cluster
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: aws-{{$app}}
    type: aws.Cloud
    accesskey: {{.AWSAccessKey}}
    accessSecret: {{.AWSAccessSecret}}
    children:
    - name: eks-cloudformation
      type: aws.cloudformation.Stack
      region: {{.AWSRegion}}
---
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: aws-cloudformation-{{$app}}
    type: udm.Environment
    members:
    - Infrastructure/{{$app}}/aws-{{$app}}
    - Infrastructure/{{$app}}/aws-{{$app}}/eks-cloudformation
{{else}}
# Definition of existing EKS cluster
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: eks-{{$clusterName}}
    type: k8s.Master
    isEKS: true
    clusterName: {{.ClusterName}}
    accessKey: {{.AWSAccessKey}}
    accessSecret: {{.AWSAccessSecret}}
    apiServerURL: {{.ClusterEndpoint}}
    skipTLS: true
    children:
    - name: {{$nameSpace}}
      type: k8s.Namespace
      namespaceName: {{.Namespace}}
---
# Definition of existing EKS Environment
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: aws-eks-{{$app}}
    type: udm.Environment
    members:
    - Infrastructure/{{$app}}/eks-{{$clusterName}}/{{$nameSpace}}
    - Infrastructure/{{$app}}/eks-{{$clusterName}}
{{end}}