{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$app}}
  type: core.Directory
  children:
    - name: K8S
      type: core.Directory
      children:
      - name: {{$app}}-invoice-mysql
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-invoice-mysql
            type: k8s.ResourcesFile
            file: !file ../invoice/build/kubernetes/invoice-mysql.yml
      - name: {{$app}}-store-mysql
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-store-mysql
            type: k8s.ResourcesFile
            file: !file ../store/build/kubernetes/store-mysql.yml
      - name: {{$app}}-notification-mongodb
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-notification-mongodb
            type: k8s.ResourcesFile
            file: !file ../notification/build/kubernetes/notification-mongodb.yml
      - name: {{$app}}-registry
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-application-config
            type: k8s.ResourcesFile
            file: !file ../registry/kubernetes/application-configmap.yml
          - name: {{$app}}-jhipster-registry
            type: k8s.ResourcesFile
            file: !file ../registry/kubernetes/jhipster-registry.yml
      - name: {{$app}}-invoice
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-invoice-deployment
            type: k8s.ResourcesFile
            file: !file ../invoice/build/kubernetes/invoice-deployment.yml
          - name: {{$app}}-invoice-svc
            type: k8s.ResourcesFile
            file: !file ../invoice/build/kubernetes/invoice-service.yml
      - name: {{$app}}-notification
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-invoice-notification
            type: k8s.ResourcesFile
            file: !file ../notification/build/kubernetes/notification-deployment.yml
          - name: {{$app}}-notification-svc
            type: k8s.ResourcesFile
            file: !file ../notification/build/kubernetes/notification-service.yml
      - name: {{$app}}-store
        type: udm.Application
        children:
        - name: !value BUILD_ID
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-store-deployment
            type: k8s.ResourcesFile
            file: !file ../store/build/kubernetes/store-deployment.yml
          - name: {{$app}}-store-svc
            type: k8s.ResourcesFile
            file: !file ../store/build/kubernetes/store-service.yml