{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$app}}
  type: core.Directory
  children:
{{if eq .ProvisionCluster "true"}}
  - name: EKS-LAMBDA
    type: core.Directory
    children:
    ### create S3 bucket ###
    - name: {{$app}}-lambda-bucket
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: s3-bucket-{{$app}}-lambda
          type: aws.s3.BucketSpec
          bucketName: {{$app}}-lambda
          region: {{.AWSRegion}}
    ### upload the artifacts to S3 bucket ###
    - name: {{$app}}-lambda-artifacts
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-lambda-artifacts
          type: aws.s3.File
          file: !file ../cloudformation/cfn-secret-provider.zip
          acl: bucket-owner-full-control
          scanPlaceholders: false
# Provision EKS cluster using Cloudformation templates
  - name: EKS-CLOUDFORMATION
    type: core.Directory
    children:
    - name: {{$app}}-cloudformation-eks-user
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-eks-user
          type: aws.cloudformation.Template
          file: !file ../cloudformation/eks-user.yaml
          capabilities:
          - CAPABILITY_IAM
          - CAPABILITY_NAMED_IAM
          inputVariables:
            ProjectName: {{$app}}
            UserStackName: {{$app}}-eks-user
            S3BucketPrefix: {{$app}}-lambda
    - name: {{$app}}-cloudformation-eks-vpc
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-eks-vpc
          type: aws.cloudformation.Template
          file: !file ../cloudformation/eks-vpc.yaml
          capabilities:
          - CAPABILITY_IAM
          - CAPABILITY_NAMED_IAM
          inputVariables:
            ProjectName: {{$app}}
            VPCStackName: {{$app}}-eks-vpc
            AvailabilityZones: {{.AWSRegion}}a, {{.AWSRegion}}b
    - name: {{$app}}-cloudformation-eks-master
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-eks-master
          type: aws.cloudformation.Template
          file: !file ../cloudformation/eks-master.yaml
          capabilities:
          - CAPABILITY_IAM
          - CAPABILITY_NAMED_IAM
          inputVariables:
            ProjectName: {{$app}}
            VPCStackName: {{$app}}-eks-vpc
    - name: {{$app}}-cloudformation-eks-workers
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-eks-workers
          type: aws.cloudformation.Template
          file: !file ../cloudformation/eks-workers.yaml
          capabilities:
          - CAPABILITY_IAM
          - CAPABILITY_NAMED_IAM
          inputVariables:
            ProjectName: {{$app}}
            VPCStackName: {{$app}}-eks-vpc
            UserStackName: {{$app}}-eks-user
            ClusterStackName: {{$app}}-eks-master
            ClusterName: {{$app}}-master
            NodeGroupName: {{$app}}
          boundTemplates:
            - "../eks-cluster"
            - "../aws-eks-{{$app}}"
            - "../aws-eks-{{$app}}-dictionary"
        templates:
        - name: eks-cluster
          type: "template.k8s.Master"
          apiServerURL: '{{"{{%outputVariables.ClusterEndpoint%}}"}}'
          skipTLS: "true"
          isEKS: "true"
          clusterName: "{{$app}}-master"
          accessKey: {{.AWSAccessKey}}
          accessSecret: {{.AWSAccessSecret}}
          instanceName: "{{$app}}/eks-cluster"
          childTemplates:
          - name: kube-system
            type: "template.k8s.Namespace"
            namespaceName: "kube-system"
        - name: aws-eks-{{$app}}-dictionary
          type: "template.udm.Dictionary"
          instanceName: "{{$app}}/aws-eks-{{$app}}-dictionary"
          entries:
            NODES_ROLE_ARN: '{{"{{%outputVariables.NodeInstanceRole%}}"}}'
            EKS_USER: '{{"{{%outputVariables.EksUser%}}"}}'
            EKS_USER_ARN: '{{"{{%outputVariables.EksUserArn%}}"}}'
            CLUSTER_ENDPOINT: '{{"{{%outputVariables.ClusterEndpoint%}}"}}'
        - name: aws-eks-{{$app}}
          type: "template.udm.Environment"
          instanceName: "{{$app}}/aws-eks-{{$app}}"
          members:
            - "../eks-cluster/kube-system"
            - "../eks-cluster"
          dictionaries:
            - "../aws-eks-{{$app}}-dictionary"
    - name: {{$app}}-k8s-configmap
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-aws-auth
          type: k8s.ResourcesFile
          file: !file ../kubernetes/aws-auth-cm.yaml
          delimiters: "## ##"
{{end}}
  - name: K8S
    type: core.Directory
{{if eq .ProvisionCluster "true"}}
# Provision K8s namespace
    children:
    - name: {{$app}}-namespace
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{.Namespace}}
          type: k8s.NamespaceSpec
          namespaceName: '{{.Namespace}}'
{{end}}