{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: K8S
    type: core.Directory
    children:
    - name: {{$app}}-store-mysql
      type: udm.Application
      children:
      - name: !value BUILD_ID
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-store-mysql
          type: k8s.ResourcesFile
          file: !file ../store/build/kubernetes-microservice-ecommerce/store-mysql.yml
          tags:
          - {{.Namespace}}
    - name: {{$app}}-registry
      type: udm.Application
      children:
      - name: !value BUILD_ID
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-application-config
          type: k8s.ResourcesFile
          file: !file ../registry/kubernetes-microservice-ecommerce/application-configmap.yml
          tags:
          - {{.Namespace}}
        - name: {{$app}}-jhipster-registry
          type: k8s.ResourcesFile
          file: !file ../registry/kubernetes-microservice-ecommerce/jhipster-registry.yml
          tags:
          - {{.Namespace}}
    - name: {{$app}}-store
      type: udm.Application
      children:
      - name: !value BUILD_ID
        type: udm.DeploymentPackage
        deployables:
        - name: {{$app}}-store-deployment
          type: k8s.ResourcesFile
          file: !file ../store/build/kubernetes-microservice-ecommerce/store-deployment.yml
          tags:
          - {{.Namespace}}
        - name: {{$app}}-store-svc
          type: k8s.ResourcesFile
          file: !file ../store/build/kubernetes-microservice-ecommerce/store-service.yml
          tags:
          - {{.Namespace}}
