# {{.BlueprintName | replace "-" " " | title}}

## Introduction

{{.Description}}

## Before you get started

If you're new to XebiaLabs blueprints, check out:

* [Get started with DevOps as Code](https://docs.xebialabs.com/xl-release/concept/get-started-with-devops-as-code.html)
* [Get started with blueprints](https://docs.xebialabs.com/xl-release/concept/get-started-with-blueprints.html)

## Usage

To use this blueprint, run:

```plain
xl blueprint
```

Explain how the user will execute your blueprint (especially if it needs to be used offline)

## Tools and technologies

This blueprint includes the following tools and technologies:

* _TOOL1_
* _TOOL2_

## Minimum required versions

This blueprint version requires at least the following versions of the specified tools to work properly:

* XL Deploy: Version 9.0.0
* XL Release: Version 9.0.0
* XL CLI: Version 9.0.0

Remove whatever is not applicable

## Prerequisites

To run the YAML that this blueprint generates, you need:

* XebiaLabs Deployment Automation up and running
* _OTHER_PREREQUISITE_

## Information required

What important data will your blueprint be asking for

## Output

This blueprint will output:

* _ITEM1_
* _ITEM2_

## Labels

* _LABEL1_
* _LABEL2_
*
