## Data Lake on AWS

The blueprint deploys a data lake architecture to AWS using CloudFormation.
XL deploy does the provisioning and deployment, while XL release orchestrates everything.
Refer https://docs.aws.amazon.com/solutions/latest/data-lake-solution

The application is available in the repo [https://github.com/awslabs/aws-data-lake-solution](https://github.com/awslabs/aws-data-lake-solution)

To deploy this blueprint with XL Platform follow the below steps

1. Generate the blueprint with `xl blueprint -t aws/datalake`
2. Apply the generated yaml configurations in the below order using XL CLI

    ```
    xl apply -f xld-environment.yml
    xl apply -f xld-infrastructure.yml
    xl apply -f xlr-pipeline.yml
    ```

3. Go to XL Release and look for the data-lake-release-pipeline and start a new release from it.