apiVersion: "xl-deploy/v1beta1"
kind: "Infrastructure"
spec:
- name: "Infrastructure/AWS"
  type: "aws.Cloud"
  accesskey: {{.AWSAccessKey}}
  accessSecret: {{.AWSAccessSecret}}
- name: "Infrastructure/AWS/cloudformation"
  type: "aws.cloudformation.Stack"
  region: !value AWSRegion

---

apiVersion: "xl-deploy/v1beta1"
kind: "Environments"
spec:
- name: AWS Dictionary
  type: udm.Dictionary
  entries:
    region: !value AWSRegion
- name: AWS-DATA-LAKE
  type: udm.Environment
  members:
  - "~Infrastructure/AWS"
  - "~Infrastructure/AWS/cloudformation"
  dictionaries:
  - "~Environments/AWS Dictionary"