apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{ .KubernetesApplicationName }}
  type: udm.Application
  children:
    - name: {{ .KubernetesDeploymentPackageVersion }}
      type: udm.DeploymentPackage
      deployables:
        - name: {{ .KubernetesApplicationName }}
          tags:
          - default-namespace
          type: k8s.ResourcesFile
          file: !file {{ .KubernetesResourcesFile }}
          tags:
          - default-namespace
