apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{ .KubernetesApplicationName }}
  type: udm.Application
  children:
    - name: {{ .KubernetesDeploymentPackageVersion }}
      type: udm.DeploymentPackage
      deployables:
        - name: {{ .KubernetesApplicationName }}-service
          type: k8s.ResourcesFile
          file: !file "../kubernetes/nginx-service.yaml"
          tags:
          - kubernetes-namespace
        - name: {{ .KubernetesApplicationName }}-deployment
          type: k8s.ResourcesFile
          file: !file "../kubernetes/nginx-deployment.yaml"
          tags:
          - kubernetes-namespace
