{{- $dir := .SecretStoreDirectoryName | kebabcase}}
# Secret Store Usage

{{if eq .SecretStoreLocation "docker"}}
{{if eq .SecretStoreTool "cyberark-conjur"}}
Please refer to `docker-cyberark-conjur/USAGE-cyberark-conjur.md` for more information.
{{else if eq .SecretStoreTool "hashicorp-vault"}}
Please refer to `docker-hashicorp-vault/USAGE-hashicorp-vault.md` for more information.
{{end}}
{{end}}

{{if eq .SecretStoreLocation "existing"}}
## Actions required
{{if eq .SecretStoreTool "cyberark-conjur"}}
### 1. Username / password
Since you are using your own instance of CyberArk Conjur, you must manually enter its username / password in XL Deploy.

 Browse to  `Configuration/{{$dir}}/{{.SecretStoreName}}` and capture these values.

### 2. Secret keys

Make sure you have keys and values in Conjur for the account `{{.CyberArkAccount}}` and policy path `{{.CyberArkPolicyPath}}` for the following:

{{else if eq .SecretStoreTool "hashicorp-vault"}}
### 1. Token

Since you are using your own instance of HashiCorp Vault, you must manually enter the access token in XL Deploy.

Browse to `Configuration/{{$dir}}/{{.SecretStoreName}}` and capture this value.

### 2. Secret keys

Make sure you have keys and values in Vault for the path `{{.HashiCorpSecretPath}}` for the following:
{{end}}

{{$splitKeys := splitList "," .SecretStoreKeys}}
{{-  range $key := $splitKeys}}
* `{{$key | trim}}`
{{-  end}}

{{end}}
