{{ $dir := .SecretStoreDirectoryName | kebabcase }}
apiVersion: xl-deploy/v1
kind: Environments
spec:
{{- $environments := list "dev" "test" "prod" }}
{{- range $env := $environments }}
- name: {{$dir}} ({{$env}})
  type: core.Directory
  children:
  {{- if eq $.SecretStoreTool "cyberark-conjur" }}
  - name: {{ $.SecretStoreDictionaryName }}
    type: secrets.cyberark.conjur.Dictionary
    conjurPolicy: Configuration/{{$dir}}/{{ $.SecretStoreName }}/{{ $.SecretStoreName }} Policy ({{$env}})
    variableIds:
    {{- $splitKeys := splitList "," $.SecretStoreKeys }}
    {{- range $key := $splitKeys }}
    - {{ $key | trim }}
    {{- end }}
  {{- end }}
  {{- if eq $.SecretStoreTool "hashicorp-vault" }}
  - name: {{ $.SecretStoreDictionaryName }}
    type: secrets.hashicorp.vault.Dictionary
    vaultServer: Configuration/{{$dir}}/{{ $.SecretStoreName }}
    secretPaths:
    - {{ $.HashiCorpSecretPath }}/{{$env}}
  {{- end}}
{{- end }}
