{{ $dir := .SecretStoreDirectoryName | kebabcase }}
apiVersion: xl-deploy/v1
kind: Configuration
spec:
- name: {{$dir}}
  type: core.Directory
  children:
  {{- if eq .SecretStoreTool "hashicorp-vault" }}
  - name: {{ .SecretStoreName }}
    type: secrets.hashicorp.vault.Server
    {{- if eq .SecretStoreLocation "existing" }}
    serverAddress: {{ .SecretStoreServerAddress }}
    {{- else }}
    serverAddress: http://xebialabs-vault:8200
    {{- end }}
    {{- if eq .SecretStoreLocation "existing" }}
    token: FILLMEIN
    {{- else }}
    token: {{ .DockerHashiCorpRootToken }}
    {{- end }}
    kvBackendVersion: {{ .HashiCorpBackend }}
  {{- end }}
  {{- if eq .SecretStoreTool "cyberark-conjur" }}
  - name: {{ .SecretStoreName }}
    type: secrets.cyberark.conjur.Server
    {{- if eq .SecretStoreLocation "existing" }}
    serverAddress: {{ .SecretStoreServerAddress }}
    {{- else }}
    serverAddress: http://xebialabs-conjur-server:80
    {{- end }}
    account: {{ .CyberArkAccount }}
    policyPaths:
    {{- $environments := list "dev" "test" "prod" }}
    {{- range $env := $environments }}
    - name: {{ $.SecretStoreName }} Policy ({{$env}})
      type: secrets.cyberark.conjur.Policy
      path: {{ $.CyberArkPolicyPath }}/{{$env}}
    {{- end }}
  {{- end }}
