{{$clusterName := .ClusterName | kebabcase}}

apiVersion: xl-release/v1
kind: Templates
spec:
- name: {{$clusterName}}
  type: xlrelease.Folder
  children:
  - name: {{$clusterName}}-cicd
    type: xlrelease.Release
    description: |
      Blah # TODO
    tags:
    - Azure
    - AKS
    - {{$clusterName}}
    scriptUsername: !value XL_RELEASE_USERNAME
    scriptUserPassword: !value XL_RELEASE_PASSWORD
    phases:
    - name: Provision Infrastructure
      type: xlrelease.Phase

      tasks:
      - name: Provision Azure AKS cluster
        type: xldeploy.Deploy
        server: XL Deploy
        deploymentPackage: {{.Prefix}}{{$clusterName}}/1.0.0
        deploymentEnvironment: Environments/{{.Prefix}}terraform

    - name: Deploy Application
      type: xlrelease.Phase

      tasks:
      - name: Deploy node
        type: xldeploy.Deploy
        server: XL Deploy
        deploymentPackage: nginx/latest # TODO Can this be a varible instead of hard-coded?
        deploymentEnvironment: Environments/{{.Prefix}}terraform

---

apiVersion: xl-release/v1
kind: Templates
spec:
- name: {{$clusterName}}
  type: xlrelease.Folder
  children:
  - name: {{$clusterName}}-destroy
    type: xlrelease.Release
    description: |
      Blah: # TODO
    tags:
    - Azure
    - AKS
    - {{$clusterName}}
    scriptUsername: !value XL_RELEASE_USERNAME
    scriptUserPassword: !value XL_RELEASE_PASSWORD
    phases:

    - name: Undeploy Application
      type: xlrelease.Phase
      tasks:
      - name: Undeploy node
        type: xldeploy.Undeploy
        server: XL Deploy
        deployedApplication: Environments/{{.Prefix}}terraform/nginx

    - name: Deprovision Infrastructure
      type: xlrelease.Phase
      tasks:
      - name: Deprovision Azure AKS cluster
        type: xldeploy.Undeploy
        server: XL Deploy
        deployedApplication: Environments/{{.Prefix}}terraform/{{.Prefix}}{{$clusterName}}
