# {{.BlueprintName}} Usage

## Notes

* Put any notes here

## Prerequisites

* Put any prerequisites here

## Deploy the blueprint to the XL Platform

To deploy this blueprint to the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generated YAML configuration using the XL CLI. Open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```

## Extras

* Put extra notes here
