{{"{{$app := .AppName | kebabcase}}"}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{"{{$app}}"}}
  type: core.Directory
  children:
  - name: _NAME1_
    type: udm.Application
    children:
    - name: '1.0.0'
      type: udm.DeploymentPackage
      deployables:
      - name: _NAME_
        type: _TYPE_
  - name: _NAME2_
    type: udm.Application
    children:
    - name: '1.0.0'
      type: udm.DeploymentPackage
      deployables:
      - name: _NAME_
      - type: _TYPE_
