# Docker compose for HashiCorp Vault

## Steps

Below are the steps you need to follow:

1. Fill in the values for the above secrets
2. Build and run the Docker image

### 1. Fill in the values for the above secrets

Edit the file `docker-hashicorp-vault/vault/script/provision.sh` and replace "`YOUR_VALUE_HERE`" with the secret values for each of the following keys.

{{ $splitKeys := splitList "," .DockerHashiCorpKeys }}
{{- range $key := $splitKeys }}
* `{{ $key | trim }}`
{{- end }}

### 2. Build and run the Docker image

Run:

```plain
cd docker-hashicorp-vault
docker-compose up --build --detach
```
