{{$app := .AppName | kebabcase}}
# Simple API and web application on Docker Usage

## Notes

* This blueprint deploys a simple application in 2 Docker containers into your local Docker setup.

## Deploy the blueprint to the XL Platform

> **Note:** Deployment of the basic AWS cluster from XL Deploy requires a few more steps than the Azure or GCP ones.

To deploy this blueprint to the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generated YAML configuration using the XL CLI. Open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```

2. Go to XL Release, look for the `{{$app}} on Docker` template, and start a new release from it.

