{{$clusterName := .ClusterName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$clusterName}}
  type: core.Directory
  children:
  - name: terraform
    type: udm.Environment
    members:
    - ~Infrastructure/{{$clusterName}}/terraform-host/terraform-client
