{{ $modifiedKubernetesURL := regexReplaceAll "https://localhost:" .KubernetesURL "https://host.docker.internal:" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{ .KubernetesName }}
  type: k8s.Master
  apiServerURL: {{ $modifiedKubernetesURL }}
  skipTLS: {{ .KubernetesSkipTLSVerify }}
  tlsCert: !value KubernetesClientCert
  tlsPrivateKey: !value KubernetesClientPrivateKey
  children:
  - name: {{ .KubernetesNamespace }}
    type: k8s.Namespace

---

apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{ .KubernetesName }}
  type: udm.Environment
  members:
  - ~Infrastructure/{{ .KubernetesName }}
  - ~Infrastructure/{{ .KubernetesName }}/{{ .KubernetesNamespace }}
