apiVersion: xl/v1
kind: Import
metadata:
  imports:
  {{- if eq .Provider "EKS" }}
  - xebialabs/aws-basic-eks-cluster-applications.yaml
  - xebialabs/aws-basic-eks-cluster-environments.yaml
  {{- else if eq .Provider "AKS" }}
  - xebialabs/azure-basic-aks-cluster.yaml
  {{- else if eq .Provider "GKE" }}
  - xebialabs/gcp-basic-gke-cluster.yaml
  {{- else }}
  - xebialabs/kubernetes-environment.yaml
  {{- end }}
  - xebialabs/kubernetes-application.yaml
  - xebialabs/multicloud-pipeline.yaml
