{{- $app := regexReplaceAll "^.*?/" .DockerImageRepository ""}}
# Docker Single Container Application Usage

{{if .Standalone}}
## Notes

* This blueprint requires that the `docker/environment` blueprint has already been run and deployed.
* This blueprint creates a deployment package with a single `docker.ContainerSpec` for the container that you specified.

## Prerequisites

* Make sure the companion `docker/environment` blueprint that creates an environment to which this package can be deployed has been instantiated.

## Deploy the blueprint to the XL Platform

To deploy this blueprint to the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generated YAML configuration using the XL CLI. Open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```
{{else}}
This blueprint creates a deployment package with a single `docker.ContainerSpec` for the container that was also deployed.
{{end}}

## To deploy the application to Docker:

1. Go to XL Deploy and look for the `{{$app}}` folder under `Applications`.

2. To provision the container:
    1. Select `{{$app}}/{{.DockerImageTag}}, click on the ellipsis and select 'Deploy'. Select `Environments/Docker` and click 'Continue'. Verify that there are no error messages, then click 'Deploy'.

{{if .ExposePort}}
Now navigate to http://localhost:{{.HostPort}} to see the deployed container.
{{end}}
