- !policy
  id: {{ .DockerCyberarkPolicyPath }}
  body:
    - &variables
      {{- $splitKeys := splitList "," .DockerCyberarkKeys }}
      {{- range $splitKeys }}
      - !variable {{ . | trim }}
      {{- end }}
