{{$app := .AppName | kebabcase}}
{{$clusterName := .ClusterName | kebabcase}}
# Provision GCP GKE cluster
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: gcp-terraform
    type: overthere.LocalHost
    os: UNIX
    children:
    - name: terraform-client
      type: terraform.TerraformClient
      path: '/usr/local/bin' # for local installation
      workingDirectory: '/tmp/{{$app}}' # for local installation

---
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: gcp-terraform
    type: udm.Environment
    members:
    - Infrastructure/{{$app}}/gcp-terraform
    - Infrastructure/{{$app}}/gcp-terraform/terraform-client
