---
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: glassfish
  type: core.Directory
  children:
  - name: Infrastructure/glassfish/{{.gfHost}}
    type: overthere.SshHost
    os: UNIX
    connectionType: SCP
    address: {{.gfHost}}
    username: {{.gfHost_USERNAME}}
    password: {{.gfHost_PASSWORD}}
    children:
    - name: domain1
      type: glassfish.Domain
      home: /opt/glassfish/glassfish
      username: admin
      servers:
      - name: server
        type: glassfish.StandaloneServer
        host: Infrastructure/glassfish/{{.gfHost}}
