apiVersion: xl/v1
kind: Import
metadata:
  imports:
  {{- if .ProvisionCluster}}
  - xebialabs/xld-basic-eks-cluster-applications.yaml
  - xebialabs/xld-basic-eks-cluster-infrastructure.yaml
  - xebialabs/xld-basic-eks-cluster-environments.yaml
  - xebialabs/xld-microservice-ecommerce-cloudformation-applications.yaml
  {{- end}}
  {{- if not .ProvisionCluster}}
  - xebialabs/xld-microservice-ecommerce-infra-env.yaml
  {{- end}}
  - xebialabs/xlr-microservice-ecommerce-pipeline-ci-cd.yaml
  - xebialabs/xlr-microservice-ecommerce-pipeline-destroy.yaml
