# This file includes all secret values, and will be excluded from GIT. You can add new values and/or edit them and then refer to them using '!value' YAML tag
XL_DEPLOY_PASSWORD=admin
DB_PASSWORD={{.DB_PASSWORD}}
gfHost_PASSWORD={{.gfHost_PASSWORD}}
