# This file includes all non-secret values, you can add variables here and then refer them with '!value' tag in YAML files
XL_DEPLOY_USERNAME=admin
DB_USERNAME={{.DB_USERNAME}}
gfHost_USERNAME={{.gfHost_USERNAME}}
