# Docker compose for CyberArk Conjur

## Notes

* The default username and password for CyberArk is: `admin`/`admin`.

## Steps

Below are the steps you need to follow:

1. Fill in the values for the above secrets
2. Build and run the Docker image

### 1. Fill in the values for the above secrets

Edit the file `docker-cyberark-conjur/conjur-client/script/provision.sh` and replace "`YOUR_VALUE_HERE`" with the secret values for each of the following keys.

{{ $splitKeys := splitList "," .DockerCyberArkKeys }}
{{- range $key := $splitKeys }}
* `{{ $key | trim }}`
{{- end }}

### 2. Build and run the Docker image

Run:

```plain
cd docker-cyberark-conjur
docker-compose up --build --detach

```
