{{$app := .AppName | kebabcase}}
{{if eq .ProvisionCluster "true"}}
# Provision GCP GKE cluster
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: gcp-{{$app}}
    type: overthere.LocalHost
    os: UNIX
    children:
    - name: terraform-client
      type: terraform.TerraformClient
---
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: gcp-terraform-{{$app}}
    type: udm.Environment
    members:
    - Infrastructure/{{$app}}/gcp-{{$app}}
    - Infrastructure/{{$app}}/gcp-{{$app}}/terraform-client
{{else}}
# Definition of existing GKE cluster
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: gke-{{.ClusterName | kebabcase}}
    type: k8s.Master
    username: {{.K8SMasterUser}}
    password: {{.K8SMasterPassword}}
    apiServerURL: {{.ClusterEndpoint}}
    skipTLS: true
    children:
    - name: {{.Namespace | kebabcase}}
      type: k8s.Namespace
      namespaceName: {{.Namespace}}
---
# Definition of existing GKE Environment
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: gcp-gke-{{$app}}
    type: udm.Environment
    members:
    - Infrastructure/{{$app}}/gke-{{.ClusterName | kebabcase}}/{{.Namespace | kebabcase}}
    - Infrastructure/{{$app}}/gke-{{.ClusterName | kebabcase}}
{{end}}