{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$app}}
  type: core.Directory
  children:
    - name: K8S
      type: core.Directory
      children:
      - name: {{$app}}-store-mysql
        type: udm.Application
        children:
        - name: {{$app}}-store-mysql
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-store-mysql
            type: k8s.ResourcesFile
            file: !file ../store/kubernetes/store-mysql.yml
      - name: {{$app}}-registry
        type: udm.Application
        children:
        - name: {{$app}}-registry
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-application-config
            type: k8s.ResourcesFile
            file: !file ../registry/kubernetes/application-configmap.yml
          - name: {{$app}}-jhipster-registry
            type: k8s.ResourcesFile
            file: !file ../registry/kubernetes/jhipster-registry.yml
      - name: {{$app}}-store
        type: udm.Application
        children:
        - name: {{$app}}-store
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-store-deployment
            type: k8s.ResourcesFile
            file: !file ../store/kubernetes/store-deployment.yml
          - name: {{$app}}-store-svc
            type: k8s.ResourcesFile
            file: !file ../store/kubernetes/store-service.yml