{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$app}}
  type: core.Directory
  children:
    - name: K8S
      type: core.Directory
      children:
      - name: {{$app}}-notification-mongodb
        type: udm.Application
        children:
        - name: {{$app}}-notification-mongodb
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-notification-mongodb
            type: k8s.ResourcesFile
            file: !file ../notification/kubernetes/notification-mongodb.yml
      - name: {{$app}}-notification
        type: udm.Application
        children:
        - name: {{$app}}-notification
          type: udm.DeploymentPackage
          deployables:
          - name: {{$app}}-invoice-notification
            type: k8s.ResourcesFile
            file: !file ../notification/kubernetes/notification-deployment.yml
          - name: {{$app}}-notification-svc
            type: k8s.ResourcesFile
            file: !file ../notification/kubernetes/notification-service.yml