{{$app := .AppName | kebabcase}}
# Basic ARM Template Usage

## Notes
* This blueprint will create the {{.ResourceGroup}} Resource Group and place everything under it.
* When you undeploy, the Resource Group will be completely deleted
* The deployment will fail if the Resource Group already exists, to guard against deploying to, and destroying, an existing Resource Group

## Deploy the blueprint to the XL Platform

To deploy this blueprint to the XebiaLabs DevOps Platform, open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```

## Deploy to Azure

Go to XL Release and click on `{{$app}}` under the 'Design' tab.

### Provision the CI/CD pipeline

1. Click 'New Release' under `{{$app}}-ci-cd`.
    1. Give the Release a name.
    2. Click 'Create'.
    3. Click 'Start Release'.

## Undeploy from Azure

Go to XL Release and click on `{{$app}}` under the 'Design' tab.

### Deprovision the CI/CD pipeline

1. Click 'New Release' under `{{$app}}-destroy`.
    1. Give the Release a name.
    2. Click 'Create'.
    3. Click 'Start Release'.

