{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: AzureCloud
    type: azure.Cloud
    subscriptionId: {{.SubscriptionID}}
    tenantId: {{.TenantID}}
    clientId: {{.ClientID}}
    clientKey: !value ClientSecret

---

apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$app}}
  type: core.Directory
  children:
  - name: AzureEnvironment
    type: udm.Environment
    members:
    - Infrastructure/{{$app}}/AzureCloud
