{{$clusterName := .ClusterName | kebabcase}}
# Basic composability demo with EKS/AKS/GKE cluster, Kubernetes application and an XLR pipeline Usage

## Deploy the blueprint to the XL Platform

To deploy this blueprint to the XebiaLabs DevOps Platform, follow the steps below:

{{if ne .KubernetesApplicationName "nginx"}}
1. Edit `kubernetes-application/deployment.yaml` to suit the `{{.KubernetesApplicationName}}` image you chose to deploy.
{{end}}

1. Apply the generated YAML configuration using the XL CLI. Open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```

2. Go to XL Release and look for the `{{$clusterName}}-ci-cd` template and start a new release from it.

