{{$clusterName := .ClusterName | kebabcase}}

apiVersion: xl-release/v1
kind: Templates
spec:
- name: {{$clusterName}}
  type: xlrelease.Folder
  children:
  - name: {{$clusterName}}-destroy
    type: xlrelease.Release
    description: |
      This XL Release template shows how to undeploy an application, based on microservices architecture.
    tags:
    - AWS
    - EKS
    - {{$clusterName}}
    scriptUsername: !value XL_RELEASE_USERNAME
    scriptUserPassword: !value XL_RELEASE_PASSWORD
    phases:
    - name: Undeploy Application
      type: xlrelease.Phase
      tasks:
      - name: Undeploy node
        type: xldeploy.Undeploy
        server: XL Deploy
        deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{.KubernetesApplicationName}}

    - name: Deprovision Infrastructure
      type: xlrelease.Phase
      tasks:
      - name: Deprovision the cluster
        type: xlrelease.SequentialGroup
        tasks:
        - name: Deprovision EKS config map for workers
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/{{$clusterName}}-master-EKSCluster-kube-system/{{$clusterName}}-k8s-configmap
        - name: Update workers dictionary for kube-system environment
          type: xld.UpdateCIProperty
          server: XL Deploy
          ciID: Environments/{{$clusterName}}/{{$clusterName}}-master-EKSCluster-kube-system
          ciProperty: dictionaries
          propertyValue: '[]'
        - name: Deprovision EKS workers nodes
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{$clusterName}}-cloudformation-eks-workers
        - name: Deprovision EKS master node
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{$clusterName}}-cloudformation-eks-master
      - name: Delete artifacts from S3
        type: xlrelease.SequentialGroup
        tasks:
        - name: Delete artifacts from S3
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{$clusterName}}-lambda-artifacts
        - name: Delete S3 bucket
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{$clusterName}}-lambda-bucket
      - name: Deprovision AWS VPC and IAM resources
        type: xlrelease.SequentialGroup
        tasks:
        - name: Deprovision AWS IAM resources
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{$clusterName}}-cloudformation-eks-user
        - name: Deprovision AWS VPC
          type: xldeploy.Undeploy
          server: XL Deploy
          deployedApplication: Environments/{{$clusterName}}/aws-cloudformation-{{$clusterName}}/{{$clusterName}}-cloudformation-eks-vpc
