apiVersion: xl-release/v1
kind: Templates
spec:
- name: XLD Server
  type: xldeploy.XLDeployServer
  url: http://xld:4516
  username: {{.XL_DEPLOY_USERNAME}}
  password: {{.XL_DEPLOY_PASSWORD}}

- name: SNOW
  type: servicenow.Server
  url: {{.SNOW_URL}}
  username: {{.SNOW_USERNAME}}
  password: {{.SNOW_PASSWORD}}

- name: XebiaLabs JIRA
  type: jira.Server
  url: {{.JIRA_URL}}
  username: {{.JIRA_USERNAME}}
  password: {{.JIRA_PASSWORD}}
