{{ $app := .AppName | kebabcase }}
{{ $dir := .AppName | kebabcase }}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$dir}}
  type: core.Directory
  children:
  - name: {{$app}}
    type: udm.Application
    children:
    - name: '1.0.0'
      type: udm.DeploymentPackage
      deployables:
      - name: {{$app}}
        type: terraform.Module
        file: !file ../terraform
        inputVariables:
          subscription_id: {{ .AzureSubscriptionID }}
          tenant_id: {{ .AzureTenantID }}
          client_id: {{ .AzureClientID }}
          {{- if eq .CredentialsSource "secret-store" "dictionary" }}
          client_secret: {{"'{{azure.clientsecret}}'"}}
          {{- end }}
          {{- if eq .CredentialsSource "secrets" }}
          client_secret: !value AzureClientSecret
          {{- end }}
          resource_group: {{ .AzureResourceGroupName }}
          location: {{ .AzureLocation }}
          vm_size: {{ .AzureVMSize }}
          vm_name: {{ .AzureVMName }}
          os_username: {{ .AzureOSUsername }}
          os_password: {{"'{{azure.ospassword}}'"}}
        environmentPath: "{{$app}} environment"
