{{$app := .AppName | snakecase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{.AppName}}
  type: core.Directory
  children:
    - name: K8S
      type: core.Directory
      children:
        # List of K8s modules
        {{range .Modules}}
        - name: {{$app}}-{{.ModuleName}}
          type: udm.Application
          children:
          - name: '1.0.0'
            type: udm.DeploymentPackage
            deployables:
            {{range .Deployables}}
            - name: {{.DeployableName}}
              type: k8s.ResourcesFile
              file: !file {{.K8sYamlPath}}
            {{end}}
        {{end}}