{{$clusterName := .ClusterName | kebabcase}}

apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: {{$clusterName}}
  type: core.Directory
  children:
  - name: aks-terraform
    type: core.Directory
    children:
    - name: {{$clusterName}}-aks-terraform
      type: udm.Application
      children:
      - name: '1.0.0'
        type: udm.DeploymentPackage
        deployables:
        - name: {{$clusterName}}-aks-terraform-module
          type: terraform.Module
          file: !file ../terraform
          inputVariables:
            cluster_name: {{$clusterName}}
            subscription_id: {{.SubscriptionID}}
            client_id: {{.ClientID}}
            client_secret: {{.ClientSecret}}
            tenant_id: {{.TenantID}}
            resource_group: {{.ResourceGroup}}
            resource_group_location: {{.ResourceGroupLocation}}
          boundTemplates:
          - "../aks-{{$clusterName}}"
          - "../aks-{{$clusterName}}-env"

        templates:
        - name: aks-{{$clusterName}}
          type: template.k8s.Master
          apiServerURL: '{{"{{%outputVariables.host%}}"}}'
          token: '{{"{{%outputVariables.token%}}"}}'
          skipTLS: true
          instanceName: {{$clusterName}}/aks-{{$clusterName}}
          children:
          - name: default
            type: template.k8s.Namespace

        - name: aks-{{$clusterName}}-env
          type: template.udm.Environment
          members:
          - "../aks-{{$clusterName}}"
          - "../aks-{{$clusterName}}/default"
          instanceName: {{$clusterName}}/aks-{{$clusterName}}
