{{- $app := .AppName | kebabcase}}
{{- $dir := .AppName | kebabcase}}
# Dictionaries and Secret Stores Usage

# Basic VM usage

This document describes how to use the blueprint you have just generated.

## Actions required

### Passwords and secrets

This blueprint requires that the following secrets be entered into the DEV, TEST and PROD Dictionaries:

#### 1. `azure.clientsecret`

This is the password for the existing Azure client id you already entered.

#### 2. `azure.ospassword`

When creating the blueprint, you were prompted for an OS username for the VM that will be created. This is the OS password that will be created.

#### 3. `azure.resourcegroup`

You must enter a different resource group name for DEV, TEST and PROD.

{{if eq .GenerateDockerComposeSetup true}}
## Start XL Deploy and XL Release using `docker-compose`

Please follow the instructions in `USAGE-docker-compose.md`.

{{else}}
### 1. Make sure XL Deploy and XL Release are running and accessible

Since you are providing your own instances of XL Deploy and XL Release, make sure these are running and accessible.
{{end}}

## Deploy the blueprint to the XL Platform

To deploy this blueprint to the XebiaLabs DevOps Platform, open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```

## 3. Fill in the passwords in the dictionary

Please follow the instructions in `USAGE-dictionary.md`.

## Deploy to Azure

Go to XL Release and click on `{{$app}}` under the 'Design' tab.

### Provision the CI/CD pipeline

1. Click 'New Release' under `{{$app}}-ci-cd`.
    1. Give the Release a name.
    2. Click 'Create'.
    3. Click 'Start Release'.

When the release is done, use `{{.AzureOSUsername}}` and the `azure.ospassword` you defined in the dictionary to log into the VM.

## Undeploy from Azure

Go to XL Release and click on `{{$app}}` under the 'Design' tab.

### Deprovision the CI/CD pipeline

1. Click 'New Release' under `{{$app}}-destroy`.
    1. Give the Release a name.
    2. Click 'Create'.
    3. Click 'Start Release'.

