{{- $app := .AppName | kebabcase }}
{{- $dir := .AppName | kebabcase }}
# Basic VM usage

This document describes how to use the blueprint you have just generated.

## Actions required

### Passwords and secrets

This blueprint requires that the following secrets be entered into the DEV, TEST and PROD Dictionaries:

#### 1. `azure.clientsecret`

This is the password for the existing Azure client id you already entered.

#### 2. `azure.ospassword`

When creating the blueprint, you were prompted for an OS username for the VM that will be created. This is the OS password that will be created.

#### 3. `azure.resourcegroup`

You must enter a different resource group name for DEV, TEST and PROD.

## Steps

Below are the steps you need to follow to get up and running:

{{ if eq .GenerateDockerComposeSetup true }}
1. Start XL Deploy and XL Release using `docker-compose`
{{- else }}
1. Make sure XL Deploy and XL Release are running and accessible
{{- end }}
2. Run `xl apply` to import the CIs
3. Fill in the passwords in the dictionary
4. Run the `{{$app}}-ci-cd` XL Release pipeline to deploy the VM
5. Run the `{{$app}}-destroy` XL Release pipeline to undeploy the VM

{{ if eq .GenerateDockerComposeSetup true }}
### 1. Start XL Deploy and XL Release using `docker-compose`

Please follow the instructions in `USAGE-docker-compose.md`.

{{ else }}
### 1. Make sure XL Deploy and XL Release are running and accessible

Since you are providing your own instances of XL Deploy and XL Release, make sure these are running and accessible.
{{ end }}

### 2. Run `xl apply` to import the CIs

Apply the generated YAML configurations using the XL CLI.

```plain
xl apply -f xebialabs.yaml
```

### 3. Fill in the passwords in the dictionary

Please follow the instructions in `USAGE-dictionary.md`.

### 4. Run the `{{$app}}-ci-cd` XL Release pipeline to deploy the VM

{{ if eq .GenerateDockerComposeSetup true }}
Log into XL Release at http://localhost:{{ .XLReleasePort }} and look under Design for the `{{$app}}/{{$app}}-ci-cd` template. Start a new release from it.
{{ else }}
Now go to XL Release and look under Design for the `{{$app}}/{{$app}}-ci-cd` template. Start a new release from it.
{{ end }}

When the release is done, use `{{ .AzureOSUsername }}` and the `azure.ospassword` you defined in the dictionary to log into the VM.

### 5. Run the `{{$app}}-destroy` XL Release pipeline to undeploy the VM

{{ if eq .GenerateDockerComposeSetup true }}
Log into XL Release at http://localhost:{{ .XLReleasePort }} and look under Design for the `{{$app}}/{{$app}}-destroy` template. Start a new release from it.
{{ else }}
Now go to XL Release and look under Design for the `{{$app}}/{{$app}}-destroy` template. Start a new release from it.
{{ end }}
