{{ $dir := .AppName | kebabcase }}
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: {{$dir}}
  type: core.Directory
  children:
  - name: terraform
    type: udm.Environment
    members:
    - ~Infrastructure/{{$dir}}/terraform-host/terraform-client
    {{- if eq .CredentialsSource "secret-store" }}
    dictionaries:
    - Environments/{{$dir}}/{{ .SecretStoreDictionaryName }}
    {{- end }}
    {{- if eq .CredentialsSource "dictionary" }}
    dictionaries:
    - Environments/{{$dir}}/{{ .DictionaryName }}
    {{- end }}
