{{$app := .AppName | kebabcase}}
{{$dir := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
{{- $environments := list "dev" "test" "prod"}}
{{- range $env := $environments}}
- name: {{$dir}} ({{$env}})
  type: core.Directory
  children:
  - name: terraform-host
    type: overthere.LocalHost
    os: UNIX
    children:
    - name: terraform-client
      type: terraform.TerraformClient
      path: '/usr/local/bin'
      workingDirectory: '/tmp/azure-dictionaries-and-secret-stores-{{$app}}--{{$env}}-terraform'
{{- end}}
