{{$dir := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Environments
spec:
{{- $environments := list "dev" "test" "prod"}}
{{- range $env := $environments}}
- name: {{$dir}} ({{$env}})
  type: core.Directory
  children:
  - name: terraform
    type: udm.Environment
    members:
    - ~Infrastructure/{{$dir}} ({{$env}})/terraform-host/terraform-client
    {{- if eq $.CredentialsSource "secret-store"}}
    dictionaries:
    - Environments/{{$dir}} ({{$env}})/{{$.SecretStoreDictionaryName}}
    {{- end}}
    {{- if eq $.CredentialsSource "dictionary"}}
    dictionaries:
    - Environments/{{$dir}} ({{$env}})/{{$.DictionaryName}}
    {{- end}}
{{- end}}
