{{ $app := .AppName | kebabcase }}
{{ $dir := .AppName | kebabcase }}
apiVersion: xl-release/v1
kind: Templates
spec:
- name: {{$dir}}
  type: xlrelease.Folder
  children:
  - name: {{$app}}-ci-cd
    type: xlrelease.Release
    description: Deploy the Terraform infrastructure
    tags:
    - {{$app}}
    - Azure
    - Terraform
    scriptUsername: !value XL_RELEASE_USERNAME
    scriptUserPassword: !value XL_RELEASE_PASSWORD
    variables:
    - key: ipaddress
      type: xlrelease.StringVariable
      requiresValue: false
      showOnReleaseStart: false

    phases:
    {{- $colors := dict "dev" "#08b153" "test" "#fd8d10" "prod" "#d94c3d" }}
    {{- $environments := list "dev" "test" "prod" }}
    {{- range $env := $environments }}
    - name: Provision ({{$env}})
      type: xlrelease.Phase
      color: '{{ index $colors $env }}'
      tasks:
      - name: Provision the VM
        type: xldeploy.Deploy
        server: XL Deploy
        deploymentPackage: "{{$dir}}/{{$app}}/1.0.0"
        deploymentEnvironment: "Environments/{{$dir}} ({{$env}})/terraform"
      - name: Get IP address
        type: xld.GetCIMapPropertyKey
        server: XL Deploy
        ciID: Environments/{{$app}} ({{$env}})/{{$app}}-dictionary
        ciPropertyName: entries
        ciPropertyNameKey: ip_address
        variableMapping:
          pythonScript.ciPropertyValue: ${ipaddress}
      - name: Click for IP address
        type: xlrelease.GateTask
        team: Release Admin
        description: Please log in with {{ $.AzureOSUsername }}@${ipaddress} and the os password you provided
      - name: Verify the application works
        type: xlrelease.GateTask
        team: Release Admin
        description: Proceed to the next step
    {{- end }}
