{{$app := .AppName | kebabcase}}
{{$dir := .AppName | kebabcase}}
apiVersion: xl-release/v1
kind: Templates
spec:
- name: {{$dir}}
  type: xlrelease.Folder
  children:
  - name: {{$app}}-destroy
    type: xlrelease.Release
    description: Destroy the Terraform infrastructure
    tags:
    - {{$app}}
    - Azure
    - Terraform
    scriptUsername: !value XL_RELEASE_USERNAME
    scriptUserPassword: !value XL_RELEASE_PASSWORD

    phases:
    {{- $colors := dict "dev" "#08b153" "test" "#fd8d10" "prod" "#d94c3d"}}
    {{- $environments := list "dev" "test" "prod"}}
    {{- range $env := $environments}}
    - name: Deprovision ({{$env}})
      type: xlrelease.Phase
      color: '{{index $colors $env}}'
      tasks:
      - name: Deprovision the VM
        type: xldeploy.Undeploy
        server: XL Deploy
        deployedApplication: "Environments/{{$dir}} ({{$env}})/terraform/{{$app}}"
    {{- end}}
