# Configure the Google Cloud tfstate file location
terraform {
  backend "gcs" {
    bucket = "{{.GCPProjectID}}"
    prefix = "terraform-{{.ClusterName}}"
    credentials = "account.json"
  }
}