{{- $app := .AppName | kebabcase}}
# Azure App Service Usage

## Deploy the blueprint to the XL Platform

To deploy this blueprint to the XebiaLabs DevOps Platform, follow the steps below:

1. Apply the generated YAML configuration using the XL CLI. Open up a terminal in the folder where you generated the configuration. Then run:

    ```plain
    xl apply -f xebialabs.yaml
    ```

2. Go to XL Deploy and look for the `{{$app}}-app` folder under `Applications`.

3. To provision the service:
  3.1. Select `{{$app}}/{{$app-app/1.0.0` , click on the ellipsis and select 'Deploy'. Select the `Environments/{{$app}}/{{$app}}-terraform` Environment (there should be only one), press 'Deploy'.

3. After the deployment process is complete, an App Service application will have been provisioned on Azure.

4. In order to access the application you can check the entry `app_service_default_hostname` in dictionary `{{$app}}-terraform-dictionary` created in XL Deploy under `Environment/{{$app}}` after the deployment.

## Undeploy the blueprint from XL Platform

1. To deprovision the application, you will have to perform the above steps in reverse.

2. To deprovision the service:
  2.1. Select `Environments/{{$app}}/{{$app}}-terraform` and click 'Undeploy'. Follow the instructions on screen.

