{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: "{{$app}}"
  type: core.Directory
  children:
  - name: AWS
    type: aws.Cloud
    accesskey: !value AWSAccessKey
    accessSecret: !value AWSAccessSecret
    children:
    - name: cloudformation
      type: aws.cloudformation.Stack
      region: "{{.AWSRegion}}"
