{{$app := .AppName | kebabcase}}
apiVersion: xl-release/v1
kind: Templates
spec:
- name: "{{$app}}"
  type: xlrelease.Folder
  children:
  - name: app-ci-cd
    type: xlrelease.Release
    description: Something # TODO
    tags:
    - AWS
    - CloudFormation
    - ElasticBeanstalk
    scriptUsername: !value XL_RELEASE_USERNAME
    scriptUserPassword: !value XL_RELEASE_PASSWORD
    phases:
    - name: Deploy Application
      type: xlrelease.Phase
      tasks:
      - name: Create S3 bucket
        type: xldeploy.Deploy
        server: XL Deploy
        deploymentPackage: "{{$app}}/aws-elastic-beanstalk-bucket/1.0.0"
        deploymentEnvironment: "Environments/{{$app}}/AWS-ELASTIC-BEANSTALK"
      - name: Upload to S3 bucket
        type: xldeploy.Deploy
        server: XL Deploy
        deploymentPackage: "{{$app}}/aws-elastic-beanstalk-artifacts/1.0.0"
        deploymentEnvironment: "Environments/{{$app}}/AWS-ELASTIC-BEANSTALK"
      - name: Create CloudFormation stack
        type: xldeploy.Deploy
        server: XL Deploy
        deploymentPackage: "{{$app}}/aws-elastic-beanstalk-cloudformation/1.0.0"
        deploymentEnvironment: "Environments/{{$app}}/AWS-ELASTIC-BEANSTALK"
    - name: Test Application
      type: xlrelease.Phase
      tasks:
      - name: Verify application
        type: xlrelease.GateTask
        team: Release Admin
        description: |
          The Beanstalk application is now live
          Check out the web site and complete this task when done.

          URL => https://{{.AWSRegion}}.console.aws.amazon.com/elasticbeanstalk/home?region={{.AWSRegion}}
