apiVersion: v1
kind: Service
metadata:
  name: {{.AppName}}-service
  namespace: {{.Namespace}}
  labels:
    app: {{.AppName}}
spec:
  selector:
    app: {{.AppName}}
  type: LoadBalancer
  ports:
  - name: http
    port: 80

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.AppName}}-deployment
  namespace: {{.Namespace}}
  labels:
    app: {{.AppName}}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{.AppName}}
  template:
    metadata:
      labels:
        app: {{.AppName}}
    spec:
      containers:
      - name: {{.AppName}}
        image: {{.DockerImage}}:{{.DockerImageTag}}
        ports:
        - name: http
          containerPort: 80
        resources:
          requests:
            memory: "32Mi"
            cpu: "250m"
          limits:
            memory: "64Mi"
            cpu: "500m"
